@font-face {
    font-family: "opensans";
    src: url("../fonts/OpenSans-Light.ttf");
}

* {
    font-family: "opensans";
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 400%;
    overflow: hidden;
}

button {
    color: #ffffff;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}

.content-block {
    position: relative;
    width: 100%;
    height: 25%;
}

.first-color {
    background-color: #8CE5FF;
    color: #000000;
}

.second-color {
    background-color: #193652;
    color: #ffffff;
}

/* navigation */

.nav-prev, .nav-next {
    position: fixed;
    width: 100%;
    z-index: 100;
    font-size: 24px;
}

.nav-prev {
    top: 5px;
}

.nav-next {
    bottom: 5px;
}

.nav-prev span, .nav-next span {
    opacity: 0.6;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-prev span:hover, .nav-next span:hover {
    cursor: pointer;
    opacity: 1;
}

/* #landing-page */

.big-icon {
    width: 360px;
    height: 360px;
    overflow: hidden;
}

.big-icon .big-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 2px #333333;

    opacity: 1;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.big-icon .big-bottom-line {
    height: 10px;
    width: 10px;
    background-color: transparent;
    opacity: 0.8;

    -webkit-transition: all 1s cubic-bezier(0,0.6,0,1);
    -moz-transition: all 1s cubic-bezier(0,0.6,0,1);
    -ms-transition: all 1s cubic-bezier(0,0.6,0,1);
    -o-transition: all 1s cubic-bezier(0,0.6,0,1);
    transition: all 1s cubic-bezier(0,0.6,0,1);
}

.big-icon img {
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    opacity: 0.2;

    -webkit-transition: opacity 1.5s ease-in-out, bottom 1s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out, bottom 1s ease-in-out;
    -ms-transition: opacity 1.5s ease-in-out, bottom 1s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out, bottom 1s ease-in-out;
    transition: opacity 1.5s ease-in-out, bottom 1s ease-in-out;
}

.big-icon:hover .big-bottom-line {
    width: 100%;
    background-color: #333333;
    box-shadow: 0 0 20px #ffffff;
}

.big-icon:hover .big-title {
    opacity: 0;
    cursor: default;
}

.big-icon:hover img {
    bottom: 0;
    opacity: 0.8;
}

.big-icon .big-bottom-line.lock {
    width: 100%;
    background-color: #333333;
    box-shadow: 0 0 20px #ffffff;
}

.big-icon .big-title.lock {
    opacity: 0;
    cursor: default;
}

.big-icon img.lock {
    bottom: 0;
    opacity: 0.8;
}

/* info */

.info-background {
    background-image: none;
}

#info img.exclusive-games, #info .out img.exclusive-games { height: 160px; margin-top: 10px; }
#info img.compatibility, #info .out img.compatibility { height: 80px; margin-top: 20px; }

#info .out-left { opacity: 0; left: -100% !important; }
#info .out-right { opacity: 0; left: 100% !important; }
#info .out { opacity: 0; }

#info .anim {
    -webkit-transition: left 1s, opacity 1s;
    -moz-transition: left 1s, opacity 1s;
    -ms-transition: left 1s, opacity 1s;
    -o-transition: left 1s, opacity 1s;
    transition: left 1s, opacity 1s;
}

/* buy-now */

.buy-background {
    background-image: url('../image/3ds-float.png');
    background-repeat: no-repeat;
    background-position: center;
}

#buy-now .red-3ds, #buy-now .black-3ds {
    position: relative;
    width: 240px;
    height: 240px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-transition: background-image 0.5s;
    -moz-transition: background-image 0.5s;
    -ms-transition: background-image 0.5s;
    -o-transition: background-image 0.5s;
    transition: background-image 0.5s;
}

#buy-now .red-3ds {
    background-image: url('../image/3ds-red.png');
}

#buy-now .black-3ds {
    background-image: url('../image/3ds-black.png');
}

#buy-now .red-3ds:hover, #buy-now .black-3ds:hover {
    cursor: pointer;
}

#buy-now .red-3ds:hover button, #buy-now .black-3ds:hover button {
    opacity: 0.6;
}

#buy-now .red-3ds:hover {
    background-image: url('../image/3ds-red-open.png');
}

#buy-now .black-3ds:hover {
    background-image: url('../image/3ds-black-open.png');
}

#buy-now .price {
    font-size: 18px;
}

#buy-now button {
    font-size: 16px;
    font-weight: bold;

    opacity: 0;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px 20px;

    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

#buy-now .red-3ds button {
    color: #940712;
    border: solid 2px #940712;
}

#buy-now .black-3ds button {
    color: #444b4c;
    border: solid 2px #444b4c;
}

#buy-now .red-3ds button:hover {
    opacity: 1;
    background-color: #ef4f4f;
}

#buy-now .black-3ds button:hover {
    opacity: 1;
    background-color: #cccccc;
}

/* demo */

.demo-background {
    background-image: url('../image/super-smash-bros.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.n3ds-background {
    width:470px;
    height:503px;
    background-image: url('../image/demo-bg.png');
    background-position: center;
    background-repeat: no-repeat;
}

.big-screen {
    position: absolute;
    top: 38px;
    left: 77px;
    background-color: #000000;
    border-radius: 4px;
}

.small-screen {
    position: absolute;
    top: 281px;
    left: 107px;
    background-color: #000000;
    border-radius: 2px;
}

#demo img {
    display: none;
}

/* general */

.title {
    font-size: 30px;
}

.absolute-middle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.absolute-bottom-center {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* media query */

@media (min-width: 768px) {
    .big-icon { width: 320px; height: 320px; }
    .big-icon .big-title { font-size: 30px; }
    .info-background { background-image: url('../image/exclusive-games-bg.jpg'); background-repeat: repeat-x; background-position: center; }
    #info img.exclusive-games, #info .out img.exclusive-games { height: 320px; }
    #info img.compatibility, #info .out img.compatibility { height: 140px; }
    #buy-now .red-3ds, #buy-now .black-3ds { width: 300px; height: 300px; }
    #buy-now .price { font-size: 24px; }
    #buy-now button { font-size: 20px; }
}

@media (min-width: 1200px) {
    .big-icon { width: 480px; height: 480px; }
    .big-icon .big-title { font-size: 36px; }
    #buy-now .red-3ds, #buy-now .black-3ds { width: 360px; height: 360px; }
    #buy-now .price { font-size: 30px; }
    #buy-now button { font-size: 24px; }
}